* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	max-width: 860px;
	margin: 0 auto;
}

.item {
	float: left;
	margin: 10px 5px;
	width: 275px;
}

.photo {
	position: relative;
}

.item img {
	width: 100%;
	height: 397px;
	object-fit: cover;
}

.photo img:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.item:hover img:nth-of-type(2) {
	z-index: 0;
}

a {
	text-decoration: none;
}

.favourite {
	position: absolute;
	right: 0;
	top: 20px;
	height: 30px;
	width: 30px;
	background-color: white;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	color: black;
	font-size: 1.5rem;
}

.favourite:hover {
	font-size: 2rem;
}

.favourite:visited {
	color: red;
}

.tag {
	position: absolute;
	left: 0;
	bottom: 1.5rem;
	color: white;
	font-weight: 700;
	font-size: .8rem;
}

.tag>span {
	padding: .5em;
}

.discount {
	background-color: #eb0037;
}

.tag-sost {
	background-color: #00875a;
}

.brand {
	font-size: .7rem;
}

.description {
	text-transform: uppercase;
	font-size: 1rem;
}

.price, .price-before {
	font-size: .8rem;
}

.price {
	color: red;
	font-weight: 700;
}

.price-before {
	text-decoration-line: line-through;
}