* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.item {
	float: left;
	margin: .5rem;
	position: relative;
}

.item img {
	height: 400px;
	width: 277px;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.favourite {
	position: absolute;
	right: 0;
	top: 20px;
	height: 20px;
	width: 20px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	color: black;
}

.favourite:hover {
	font-size: 1.5em;
}

.favourite:visited {
	color: red;
}


/* .discount::after {
	color: white;
	background-color: #eb0037;
	position: absolute;
	bottom: 10px;
	left: 0;
}

.fifty::after {
	content: '-50%';
} */
