* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}

.item {
	float: left;
	margin: .5rem;
	width: 250px;
}

.photo {
	position: relative;
}

.item img {
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.favourite {
	position: absolute;
	right: 0;
	top: 20px;
	height: 20px;
	width: 20px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	color: black;
}

.favourite:hover {
	font-size: 1.5em;
}

.favourite:visited {
	color: red;
}

.tag {
	position: absolute;
	left: 0;
	bottom: 1em;
	color: white;
	font-weight: 500;
}

.discount {
	background-color: red;
}

.tag-sost {
	background-color: green;
}

.brand {
	font-size: .7rem;
}

.description {
	text-transform: uppercase;
	font-size: 1rem;
}

.price {
	color: red;
	font-weight: 600;
	font-size: .9rem;
}

.price-before {
	text-decoration-line: line-through;
}